<header class="main-header" id="header">
  <div class="container">
    <a class="hidden" href="index.html#main-content">Skip to content</a>
    <div id="logo">
      <a href="index.html">
        <img src="images/logos/elixir_ireland_logo.png" alt="ELIXIR logo" title="Home" />
      </a>
    </div>
    <label class="show-nav" for="nav-checkbox" title="Show main menu"></label>
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox" />
    <nav id="main-nav">
      <ul class="floated-inline">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="training.html">Training</a></li>
        <li><a href="databases.html">Databases</a></li>
        <li><a href="software.html">Software</a></li>
        <li><a href="platforms.html">Platforms</a></li>
        <li><a href="events.html">Events</a></li>
                <li><a href="news.html">News</a></li>
        <li><a href="elix_ire_funded.html">Funded Projects</a></li>
      </ul>
    </nav>
  </div>
</header>
